# Set default behavior, in case you're not sure what you want.
* text=auto eol=lf

*.sh text eol=lf
*.bat text eol=crlf

# Set the repository to show as TypeScript rather than JS in GitHub
*.js linguist-detectable=false
